# dependencies
node_modules
.pnpm-store

# build outputs
dist
.next
.nuxt
.vercel
out

# environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# turbo
.turbo

# prisma
apps/api/prisma/migrations/**/migration_lock.toml

# runtime logs
*.log
